version: "3.7"
services:
  
  # mysql configuration
  mysql:
    image: mysql:5.7.23
    restart: on-failure
    container_name: scheduler-mysql
    working_dir: /
    volumes:
      - .:/application
      - c:/mysql/scheduler/:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-root}
      - MYSQL_DATABASE=${MYSQL_DATABASE_NAME:-scheduler}
      - MYSQL_USER=${MYSQL_USER:-root}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD:-root}
    ports:
      - "${MYSQL_PORT:-3306}:3306"
  
  # php configuration
  php:
    image: my-scheduler-php-apache
    container_name: scheduler-php-apache
    restart: on-failure
    build:
      context: .
      dockerfile: docker/build/php/Dockerfile
    # working_dir: /
    volumes:
      - './apps/my-scheduler/public/:/usr/src/app'
    env_file:
      - .env
